extends layout
block content
    p
        |Your booking is booked with refNo:#{rno}
    br
    p
        |Details:
    br
    p
        |name:#{name} ph:#{phone} from:#{from} to:#{to} date:#{date} time:#{time}